.productHeading{
    box-shadow: 0px 0px 50px 1px inset rgba(119, 119, 119, 0.75);
    padding: 5px;
    
}

.product-form{
    border: 1px solid #0000006b;
    padding: 15px;
    box-shadow: 1px 1px 15px 5px rgba(189, 189, 189, 0.75);
}
.form-label {
    padding-left: 5px;
    font-weight: bold;
    font-size: 1.2rem;

}

.not-found{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94vh;
}

.shopping-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
}

.checkout-page{
    min-height:58vh;
}

.total-price{
    display: flex;
    
    align-items: center;
    padding: 10px;
    box-shadow: 0px 0px 15px 1px rgba(189, 189, 189, 0.61);
}

.price {
    margin-left: 25px;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 0px 1px 0px rgba(1, 109, 7, 0.75);
}

/* register */
.register-full-page{
    background-image: url(../assets/images/green-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.register {
    box-shadow: 0px 0px 50px 1px  rgba(189, 189, 189, 0.226);
    background-color: rgba(255, 255, 255, 0.849);
    border-radius: 5px;
}